/* src/components/Register.css */
.register-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #069dfb;
  text-align: center;
  overflow: hidden;
  background-image: url('../assets/register-bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90px;
}

.register-page h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 1;
  color:blue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 0 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  z-index: 1;
  width: 300px; /* Adjust the width */
}

.register-form input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.register-form button {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s, transform 0.3s;
}

.register-form button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
